<div class="w3-row w3-display-container" id="anasayfa">


    <my-w3carousel id="c1" saniye="9000" buttons="evet">
        <div class="inner" body>
            <ul>
                <li><img src="src/assets/images/_guncel/1.jpeg" class="w3-animate-fading" />
                </li>
                <li><img src="src/assets/images/_guncel/2.jpeg" class="w3-animate-fading" />
                </li>
                <li><img src="src/assets/images/_guncel/3.jpeg" class="w3-animate-fading" />
                </li>
            </ul>
        </div>

    </my-w3carousel>

    <div class="w3-display-middle">
        <h2 id="bilgimetin"  class="w3-container  w3-animate-zoom w3-round w3-hide-small w3-hide-medium">
            "Açık Mutfak" konsepti ile sunulan ev yemekleri....
        </h2>

        <h5 id="bilgimetin"  class="w3-container  w3-animate-zoom w3-round w3-hide-large">
            "Açık Mutfak" konsepti ile sunulan ev yemekleri....
        </h5>

    

    <div>
</div>