@keyframes anim {
    /*0%   {transform: translateX(0);transform: scale(0,0)}
    100% {transform: translateX(5%);transform: scale(1,1)}*/

    0%   {text-shadow: 1px 1px 1px black, 0 0 1em pink, 0 0 0.1em darkmagenta;}
    50% {text-shadow: 1px 1px 2px black, 0 0 1em pink, 0 0 0.2em lightpink;}
    100% {text-shadow: 1px 1px 2px black, 0 0 1em pink, 0 0 0.2em blue;}

}

#bilgimetin
{
    color: white !important;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black, 0 0 1em pink, 0 0 0.1em darkmagenta;
    animation: anim 3s ease-in 2s infinite alternate;
    
}

