<nav-menu class="w3-top"></nav-menu>
<main-slide></main-slide>
<hakkimizda></hakkimizda>

<haftalik-menu [MenuAd]="'HaftalikMenu'" [AnaBaslik]="'HAFTALIK TABLDOT MENÜ'" ></haftalik-menu>

<!-- <haftalik-menu *ngIf="globalService._userInfo" [MenuAd]="'DunyaMutfaklari'" [AnaBaslik]="'DÜNYA MUTFAKLARI'"></haftalik-menu> -->
<haftalik-menu [MenuAd]="'DunyaMutfaklari'" [AnaBaslik]="'DÜNYA ve VEGAN MUTFAĞI'"></haftalik-menu>

<alakart></alakart>
<ekipman></ekipman>

<istatistik-bar></istatistik-bar>
<resim-galeri></resim-galeri>
<footer-bar></footer-bar>


