<div *ngIf="_mutfak.AnaSayfadaGorunsunMu || !globalService._userInfo" class=" w3-content w3-container w3-padding-32 w3-center">

    <div  class="w3-container w3-padding-32 w3-center  w3-wide">
        
        <div>
            <h3 *ngIf="_isEditMode" style="font-weight: bold" class="w3-border-bottom w3-border-light-grey w3-padding-12">
                <input style="text-align:center" placeholder="Mutfak Adı Başlık" type="text" [(ngModel)]="_mutfak.MenuAd"/> <br>
            </h3>

            <h4 *ngIf="_isEditMode">
                <input style="text-align:center" placeholder="Alt Başlık" type="text" [(ngModel)]="_mutfak.MenuAdAltBaslik" />
            </h4>
            
            <h3 *ngIf="!_isEditMode" style="font-weight: bold" class="w3-padding-6">
               {{_mutfak.MenuAd}}
            </h3>

            <h4 *ngIf="!_isEditMode" style="font-weight: bold" class="w3-border-bottom w3-border-light-grey w3-padding-6">
               {{_mutfak.MenuAdAltBaslik}}
            </h4>
        </div>
     
    </div>
    
    
    <fieldset class="w3-display-container w3-card-2 w3-round  w3-center">
       
        <section class="w3-container">
                <h4 *ngIf="!_isEditMode" class="w3-black" style="margin:0 -20px">{{_mutfak.Tarih| date:'yMMMMEEEEd'}}</h4>
                <h4 *ngIf="_isEditMode" class="w3-black" style="margin:0 -20px">
                    <input type="date" style="text-align:center" placeholder="Tarih"  [(ngModel)]="_mutfak.Tarih" />
                </h4>
                        
                <div class="secenekler" *ngIf="_isEditMode">
                    <div>
                    <label><input type="checkbox" [(ngModel)]="_mutfak.AnaSayfadaGorunsunMu" 
                        name="checkbox" value="value">Sitede Görünsün Mü?</label>
                    </div>
                    
                    <div>
                        <label><input type="checkbox" [(ngModel)]="_mutfak.SatirFiyatGorunsunMu" name="checkbox" value="value">Fiyatlar Görünsün Mü?</label>
                    </div>
                    <div>
                        <label><input type="checkbox" [(ngModel)]="_mutfak.ToplamFiyatGorunsunMu" name="checkbox" value="value">Toplam Fiyat Görünsün Mü?</label>
                    </div>
    
                    <div>
                        <span class="w3-btn w3-teal" style="font-size: 12px" (click)="yeniSatirEkle(menu_gun)">
                            + Satır Ekle
                        </span>
                    </div>


                </div>
                    
        </section>
        
        <hr>
    
        <ul>
            <li *ngFor="let item of _mutfak.YemekItems">

                <div *ngIf="_isEditMode" style="display: flex;position: relative">
                    <input style="display: inline-block;width: 100%" type="text" [(ngModel)]="item.YemekAdi" />
                    <input *ngIf="_mutfak.SatirFiyatGorunsunMu" style="display: inline-block;width: 60px" type="text" 
                    [(ngModel)]="item.Fiyat"
                    />
                    <span title="Sil" (click)='satirSil(item)'>
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <div class="yemekMenuItem" *ngIf="!_isEditMode" style="display: flex;">
                    <div [class.w3-center]="!_mutfak.SatirFiyatGorunsunMu" style="display: inline-block;width: 100%;text-align: left">
                        {{item.YemekAdi}}</div>
                    <div *ngIf="_mutfak.SatirFiyatGorunsunMu" class="yemekfiyat" style="display: inline-block;width: 60px">
                        {{item.Fiyat}}
                    </div>
                </div>
            </li>
        </ul>

        <div *ngIf="_isEditMode && _mutfak.ToplamFiyatGorunsunMu">
                Toplam : <input type="text" [(ngModel)]="_mutfak.ToplamFiyat" />
        </div>

        <div class="fiyat w3-display-bottommiddle w3-block" style="padding-bottom:10px;" 
        *ngIf="!_isEditMode && _mutfak.ToplamFiyatGorunsunMu">
            Toplam : <strong style="font-size:1.1rem">{{_mutfak.ToplamFiyat}}</strong>
        </div>

    </fieldset>


    <!-- todo sonra kaldır -->
    <div *ngIf="!globalService._userInfo" style="text-align: center">
            <button class="w3-btn w3-teal" (click)="duzenle()">Düzenle</button>
            <button class="w3-btn w3-teal" (click)="kaydet()">Kaydet</button>
    </div>

 
</div>


