@font-face {
    font-family: 'tlfont'; /*a name to be used later*/
    src: url('/../src/assets/font_tl.woff'); /*URL to font*/
}

ul
{
    padding-right: 20px;
    padding-left: 20px;
}

h3,hr{
    margin: 0px;
}
li {
    border-bottom: solid thin lightgray;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.delSpan
{
    cursor:pointer;
    width: 30px;
    text-align:center;
    position: absolute;
    right: -20px;
    color: red;
   
}

.hover-delete
{
  color: red;
  transform: scale(1.3,1.3)
}

.hover-edit
{
  color: green;
  transform: scale(1.3,1.3)
}

.wordwrap { 
   word-wrap:break-word;
   padding-bottom: 8px;
}


.fiyat::after
{
    content: 't';
    font-family: 'tlfont' !important;
    font-size: 12px;

}